ul{
    display: flex;
    list-style: none;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #36393f;
}
a{
    color: aqua;
    align-items: center;
}
li{
    flex:50%;
    padding:50px;
}
h1{
    flex:100%;
    text-align: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    
}
input{
    outline:0;
}


textarea{
    font-family: Arial, Helvetica, sans-serif;
}
#output{
padding-left: 50px;
}
.warning{
    color:red;
    text-align: center;
}
#navBar{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #333;
    box-sizing: border-box;
    display: inline-block;
    position:fixed;
    top:0px;
    left:0px;
}
#navBar a{
    float: left;
    color: cyan;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    padding: 14px 16px;
    margin: 0px;
}
#navBar a:hover{
    background-color:antiquewhite ;
    color: black;
}

#navBar a.active {
    background-color: #1e66d2;
    color: white;
}
body{
    padding-top: 25px;
}
.boxInput{
    text-align: right;
    height: 100%;
    width: 100%;
    margin:0px;
    padding: 0px;
    border-width:1px;
    border-radius: 0px;
    border-color: white;
    box-shadow: none;
    border-left-color: white;
    border-style: solid;
}
.boxInput:focus {
    border-color: green;
}

table{
    border-color: black;
    border-collapse: collapse;
}
td,th {
    width: 115px;
    height:35px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    color:black;
    padding:6px;
}
.boxOutput{
    background-color: #dfdfdf;
}