html{
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #36393f;
    
}
.elementary2 a{
    color: cyan;
    text-align: center;
    font-size: 17px;
}
.module{
    display: flex;
    border: 1px solid #1e66d2;
}
.elementary1{
    flex:25%;
    border: 1px solid #1e66d2;
}
.elementary2{
    flex:75%;
    border: 1px solid #1e66d2;
}
.centerElem{
    text-align: center;
}
body{
    margin-left: 2%;
    padding-top: 25px;
    padding-bottom: 30px;
}
#navBar{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #333;
    box-sizing: border-box;
    display: inline-block;
    position:fixed;
    top:0px;
    left:0px;
}
a{
    color: cyan;
    text-decoration: none;
}
p{
    font-size: 20px;
}
#navBar a{
    float: left;
    color: cyan;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    padding: 14px 16px;
    margin: 0px;
}
#navBar a:hover{
    background-color:antiquewhite ;
    color: black;
}

#navBar a.active {
    background-color: #1e66d2;
    color: white;
}
h1{
    text-align: center;
}