html{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: black;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
}
a{
    color:aqua;
    list-style: element();
    margin-bottom: 5px;
}
.title{
    text-align: center;
}
h1{
    text-align: center;
}
.toc{
    display: flex;
    flex-direction: column;
}
.link{
    color: aqua;
}
#tableTitle{
    padding-bottom: 0px;
    margin-bottom: 5px;
}
img{
    width: 32px;
    height: 32px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items : center;
    gap: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.important{
    color: #01ff06;
}
table{
    outline: black;
    border-collapse: collapse;
}
td,th {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
.section{
    margin-left: 50px;
}
body{
    margin: 0px;
    padding: 0px;
}

#mid{
    padding: 30px;
    max-width:1200px;
    margin: 0 auto;
    margin-top: 48px;
    padding-top: 0px;
    background-color: #36393f;
}
#navBar{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #333;
    display: inline-block;
    position:absolute;
    top:0px;
    left:0px;
}
#navBar a{
    float: left;
    color: cyan;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    padding: 14px 16px;
    margin: 0px;
}
#navBar a:hover{
    background-color:antiquewhite ;
    color: black;
    margin: 0px;
}

#navBar a.active {
    background-color: #1e66d2;
    color: white;
    margin: 0px;
  }